Source: ros-indigo-pheeno-ros-sim
Section: misc
Priority: extra
Maintainer: Zahi Kakish <zkakish@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-actionlib, ros-indigo-actionlib-msgs, ros-indigo-catkin, ros-indigo-geometry-msgs, ros-indigo-message-generation, ros-indigo-roscpp, ros-indigo-rospy, ros-indigo-std-msgs
Homepage: https://acslaboratory.github.io
Standards-Version: 3.9.2

Package: ros-indigo-pheeno-ros-sim
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-actionlib, ros-indigo-actionlib-msgs, ros-indigo-geometry-msgs, ros-indigo-message-runtime, ros-indigo-roscpp, ros-indigo-rospy, ros-indigo-std-msgs
Description: Gazebo simulation ROS package for Pheeno system!
