Source: ros-kinetic-pheeno-ros-sim
Section: misc
Priority: extra
Maintainer: Zahi Kakish <zkakish@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-actionlib, ros-kinetic-actionlib-msgs, ros-kinetic-catkin, ros-kinetic-gazebo-msgs, ros-kinetic-gazebo-plugins, ros-kinetic-gazebo-ros, ros-kinetic-gazebo-ros-control, ros-kinetic-geometry-msgs, ros-kinetic-image-transport, ros-kinetic-message-generation, ros-kinetic-roscpp, ros-kinetic-rospy, ros-kinetic-rviz, ros-kinetic-std-msgs, ros-kinetic-tf, ros-kinetic-urdf, ros-kinetic-xacro
Homepage: https://acslaboratory.github.io
Standards-Version: 3.9.2

Package: ros-kinetic-pheeno-ros-sim
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-actionlib, ros-kinetic-actionlib-msgs, ros-kinetic-gazebo-msgs, ros-kinetic-gazebo-plugins, ros-kinetic-gazebo-ros, ros-kinetic-gazebo-ros-control, ros-kinetic-geometry-msgs, ros-kinetic-image-transport, ros-kinetic-message-runtime, ros-kinetic-roscpp, ros-kinetic-rospy, ros-kinetic-rviz, ros-kinetic-std-msgs, ros-kinetic-tf, ros-kinetic-urdf, ros-kinetic-xacro
Description: Gazebo simulation ROS package for Pheeno system!
